---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


<h2>Research Projects</h2>
<ol class="publications">
  {% for project in site.data.research_projects %}
    <li>{{ project.role }}: {{ project.title }} {{ project.details }}</li>
  {% endfor %}
</ol>

<h2>Publications
  <a href="{{site.author.googlescholar}}" target="_blank">(Google Scholar)</a>
</h2>

<ol class="publications">
  {% for pub in site.data.publications %}
    <li>
      {%- assign authors = pub.authors | split: ',' -%}{%- for author in authors -%}{%- assign stripped_author = author | strip -%}{%- if stripped_author == 'Liangfen Du' -%}<span class="author-name">{{ stripped_author }}</span>{%- else -%}{{ stripped_author }}{%- endif -%}{%- unless forloop.last -%}, {% endunless %}{%- endfor -%}.

      {{ pub.title }} 
      <span class="journal-name">{{ pub.journal }}</span>, {{ pub.year }}
      {% if pub.volume %}, {{ pub.volume }}{% endif %}
      {% if pub.pages %}: {{ pub.pages }}{% endif %}.
      {% if pub.location %} {{ pub.location }}.{% endif %}
      {% if pub.note %} {{ pub.note }}{% endif %}
    </li>
  {% endfor %}
</ol>
