---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---


<h2>Research Projects</h2>
<ol class="publications">
  {% for project in site.data.research_projects %}
    <li>{{ project.role }}: {{ project.title }} {{ project.details }}</li>
  {% endfor %}
</ol>

<h2>Publications
  <a href="{{site.author.googlescholar}}" target="_blank">(Google Scholar)</a>
</h2>

<ol class="publications apa-publications">
  {% for pub in site.data.publications %}
    <li>
      {%- assign title_last_char = pub.title | slice: -1, 1 -%}
      {{ pub.authors }} ({{ pub.year }}). {{ pub.title }}{% if title_last_char != '.' %}.{% endif %}
      {% if pub.volume %}
        {%- assign volume_parts = pub.volume | split: '(' -%}
        <span class="journal-name">{{ pub.journal }}, {{ volume_parts[0] }}</span>{% if volume_parts.size > 1 %}({{ volume_parts[1] | replace: ')', '' }}){% endif %}{% if pub.pages %}, {{ pub.pages }}{% endif %}.
      {% else %}
        <span class="journal-name">{{ pub.journal }}</span>.{% if pub.location %} {{ pub.location }}.{% endif %}
      {% endif %}
      {% if pub.note %} {{ pub.note }}{% endif %}
    </li>
  {% endfor %}
</ol>
