---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>2025-2026 @PolyU</h2>
<ul>
  <li>BSE 5410 - Noise and Vibration in Sustainable Built Environment</li>
  <li>BSE 4418 - Architectural Acoustics</li>
  <li>BSE 3716 - Research Methods in Building Technologies</li>
</ul>

<h2>2024-2025 @PolyU</h2>
<ul>
  <li>BSE 4413 - Indoor Air Quality Engineering</li>
  <li>BSE 2216 - Engineering Thermodaynamics</li>
  <li>BSE 5412 - Indoor Environment Quality Assessment</li>
  <li>BSE 574 - Research Methods</li>
  <li>BSE 575 - Dissertation</li>
</ul>

<h2>Before 2024 @NUS</h2>
<ul>
  <li>Acoustic simulation for undergraduate students in the module "AR59531 Design of Soundscape and Built Environment"
  </li>
  <li>"Environmental Noise Simulation and Assessment" in the "Acoustics Training Program for the National Environmental
    Agency (NEA) of Singapore". (2018-2019)</li>
</ul>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
